@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 228 15% 7%;
    --foreground: 220 10% 86%;

    --card: 226 14% 10%;
    --card-foreground: 220 10% 86%;

    --popover: 226 14% 10%;
    --popover-foreground: 220 10% 86%;

    --primary: 164 35% 50%;
    --primary-foreground: 0 0% 0%;

    --secondary: 224 12% 15%;
    --secondary-foreground: 220 10% 86%;

    --muted: 224 12% 15%;
    --muted-foreground: 220 8% 56%;

    --accent: 224 14% 14%;
    --accent-foreground: 220 10% 86%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 224 10% 18%;
    --input: 224 10% 18%;
    --ring: 164 35% 50%;

    --ue-sidebar-bg: 226 14% 9%;
    --ue-header-bg: 228 15% 8%;
    --ue-code-bg: 228 16% 6%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  html {
    min-width: fit-content;
  }

  body {
    @apply bg-background text-foreground;
  }
}